@model IEnumerable<OMXPro.Models.tbl_article>
@{
    ViewBag.Title = "Sections";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var grid = new WebGrid(source: Model, rowsPerPage: 10);
}
<style>
    table.gridtable {
    }
</style>
<h2>Article / News List </h2>
<small>and their location inside the website</small>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- here we are going to display the result of ajax regarding new article settings or update the article settings-->
            <div id="sitesections">

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panerl-primary">
                @*<div class="panel-heading"></div>*@
                <div class="panel-body">
                    <div style="border-bottom:1px solid #222; text-align:left;padding-bottom:10px;margin-bottom:10px;">
                        @Ajax.ActionLink("Add Article / News", "addart", "Articles", new AjaxOptions
                   {
                       HttpMethod = "GET",
                       UpdateTargetId = "sitesections",
                       InsertionMode = InsertionMode.Replace
                   }, new { Class = "fa fa-newspaper-o btn btn-default" })

                        <a href='@Url.Action("ArticleSettings","Articles")' class="fa fa-newspaper-o btn btn-default">Show All</a>
                    </div>

                    <!--This form is used to search the list of articles-->
                    @using (Html.BeginForm("ArticleSettings", "Articles", FormMethod.Post))
                    {
                        <table border="0">
                            <tr>
                                <td align="left">
                                    Article Title: @Html.TextBox("SearchKey", "", new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DropDownList("secid", (SelectList)ViewBag.mysections, "- Select Sections -", new { @class = "form-control" })
                                </td>
                               
                                <td align="left">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    @*<input type="submit" value="Search" /><i class="icon-search"></i> icon-search*@
                                </td>
                            </tr>
                        </table>
                    }

                    <!--Display the list of articles-->
                    <hr />
                    @using (Html.BeginForm("DeleteArticles", "Articles", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-default"><i class="fa fa-trash fa-1x"></i> </button>
                        @*<input type="submit" value="Delete Article" class="btn btn-default" />*@

                        @grid.GetHtml(
                                    tableStyle: "table table-condense",
                                    columns:
                                    grid.Columns(
                                    grid.Column(format: @<text><input type="checkbox" name="ids" value="@item.id" /> </text>, header: ""),
                                    grid.Column("id", "No."),
                                    grid.Column("a_title", "Article Title/News"),
                                    grid.Column("a_date", "Date"),
                                    grid.Column(format:@<text>@Ajax.ActionLink("Edit", "editart", "Articles", new { id = @item.id }, new AjaxOptions
                                                         {
                                                             HttpMethod = "GET",
                                                             UpdateTargetId = "sitesections",
                                                             InsertionMode = InsertionMode.Replace
                                                         })</text>, header: "Edit")
                                                                                          )
                                                                              )

                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('#secid option[value="3"]').css({ "border-bottom": "1px solid #222", "padding-bottom": "10px" });
        $('#secid option[value="6"]').css({ "border-bottom": "1px solid #222", "padding-bottom": "10px" });
        $('#secid option[value="9"]').css({ "border-bottom": "1px solid #222", "padding-bottom": "10px" });
        $('#secid option[value="1"]').css("background-color", "#F0F0F0");
        $('#secid option[value="2"]').css("background-color", "#F0F0F0");
        $('#secid option[value="3"]').css("background-color", "#F0F0F0");
        $('#secid option[value="4"]').css("background-color", "#ccc");
        $('#secid option[value="5"]').css("background-color", "#ccc");
        $('#secid option[value="6"]').css("background-color", "#ccc");
        $('#secid option[value="7"]').css("background-color", "#F0F0F0");
        $('#secid option[value="8"]').css("background-color", "#F0F0F0");
        $('#secid option[value="9"]').css("background-color", "#F0F0F0");
        $('#secid option[value="10"]').css("background-color", "#ccc");
        $('#secid option[value="11"]').css("background-color", "#ccc");
        $('#secid option[value="12"]').css("background-color", "#ccc");
        $('#secid option[value="13"]').css("background-color", "#ccc");
    });

</script>

