@model OMXPro.Models.tbl_post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #pimg {
        position: absolute;
        float: left;
        max-height: 190px;
    }

    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        zoom: 1; /* ie 6/7 */
    }
       #ilst img{
        width:10rem;
        max-height:40rem;
    }
    /*.clearfix:after {
       content: ".";
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }*/
</style>
<h2>Articles and News</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Add New Article
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Edit", "Posts", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(model=>model.Id)
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.post_title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.post_title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.post_title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.post_content, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.post_content, new { @class = "form-control postcontent" })
                                    @Html.ValidationMessageFor(model => model.post_content, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.post_excerpt, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.post_excerpt, new { @class = "form-control pstsummary", style = "width: 900px", rows = "6", cols = "60" })
                                    @Html.ValidationMessageFor(model => model.post_excerpt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.post_img, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.post_img, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.post_img, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        <button id="btnImgLst" class="btn btn-primary btn-sm" title="Share this content" data-toggle="modal" data-target="#myModal1">
                                            <i class="fa fa-file-image-o"></i>Select Image
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="" alt="" id="pimg" class="img-responsive position:absolute" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.post_status, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.post_status, new List<SelectListItem>()
    {  new SelectListItem() { Text= "Active", Value = "1", Selected =true },
        new SelectListItem() { Text= "Non-Active", Value = "0" }

    }, "  -----Status-----  ")

                                    @Html.ValidationMessageFor(model => model.post_status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Add New Article" class="btn btn-default" />
                                </div>
                            </div>
                        }
                        <div>
                            <h4>
                                @Html.ActionLink("Back to List of Articles", "Index")
                            </h4>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal Select Image -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:silver">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-share-alt"></i>Itme Image List</h4>
                </div>
                <div class="modal-body" style="height:40rem;overflow-y:scroll;">
                    <div id="ItemImgList">

                    </div>
                </div>
                <div class="modal-footer" style="background-color:silver">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        //this function will display the image when we change the post_img filed
        $('#pimg').attr("src", $('#post_img').val());
            //$('#post_img').change(function () { console.log("الحمد لله رب العالمين"); });
            $('#post_img').on("change", function () {
                $('#pimg').attr("src", $('#post_img').val());
            });


        //this is for post contents
        tinymce.init({
            selector: '#post_content'
        });
    </script>
<script>
        $(function () {
            $("#btnImgLst").on("click", function () {
                $.ajax({
                    url: "/Images/getItmImages",
                    type: "GET",
                    data: "{}",
                    dataType: "json",
                    success: function (data) {
                        var output = $("#ItemImgList");
                        output.empty();
                        for (var i = 0; i < data.getImgLst.length ; i++) {
                            var imglst = data.getImgLst[i];
                                output.append("<table id=" + "ilst" + " class=" + "table" + ">" +
                                "<tr class=" + "hdr" + ">" +
                                "<th>Item Image</th>" +
                                "<th>Item Image</th>" +
                                "</tr>" +
                                "<tr>" +
                                "<td>"+imglst +  "</td>" +
                                "<td><img class='selItmLst img-responsive' src=" + imglst + " /></td>" +
                                "</tr></table>");
                        }
                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            });
        });
</script>
}